<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                    	<span>
                            <img alt="image" style="width:50%;height:50%;" class="img-circle" th:src="@{${session.user.icon}}" />
						</span>
                    	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            	<span class="block m-t-xs">
                            		<h5 th:text="${session.user.username}"></h5>
                             	</span> 
                             </span>
                     	</a>
                    </div>
                    <div class="logo-element">
                  		     易边停
                    </div>
                </li>
              
                <li id="contentManage">
                    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">内容管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                     	<li id="userManage"><a th:href="@{/userManage_1_10_0}">用户管理</a></li>
                        <li id="carManage"><a th:href="@{/carManage_1_10_0}">车辆管理</a></li>
                       
                        <li id=""><a href="#">广告管理</a></li>
                    </ul>
                </li>
              
            </ul>
        </div>
    </nav>
</body>
</html>



